@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <div class="p-3 mb-2 bg-black bg-gradient text-white">
        <h1 class="display-4">Welcome to Our Restaurant</h1>
    </div>
    <p>
        <div class="mx-auto ">
            <a class="btn btn-primary btn-block p-3 " asp-action="Option"> Admin </a>
            <a class="btn btn-success btn-block p-3 ms-lg-5" asp-controller="OrderTables"> Customer </a>
        </div>
    </p>
</div>
