html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: darkgray;
}

.nav-item .nav-link:hover {
    color: black !important;
    background-color: white;
}

